body{
    margin: 0;
   padding: 0;
   width: 100%;
   height: 100%;
    font-family: 'Poppins', sans-serif;
    
}
.right{
    align-items: right;
    position: relative;
   
}
#heading2{
    margin-left: 50px;
    text-align: left;
}
nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 30px 0;
   align-items: right;
    justify-content: space-between;
    padding-right: 10px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

.img{
    width: 100px;
    padding: 20px;
    margin: 100px;
    flex-direction: row;
    justify-content: center;
    border-radius: 5px;
    transition: 1s;
}
.img:hover{
    transform: scale(1.3);
    z-index: 2;
}
.first-div{
    display: flex;
    margin: 20px 20px 20px 20px;
} h1{
    padding: 0;
    margin: 0;
    font-size: 40px;
}
.link{
    text-decoration: none;
    background-color: dodgerblue;
    border-radius: 10px;
    padding: 10px 15px;
    color: aliceblue;
}
.link:hover{
    background-color: aliceblue;
    color: dodgerblue;
    border: 3px solid burlywood;

}
.img{
    border-radius: 30px;
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
}
.section-1{
    background-image: url(/images/pexels-jess-bailey-designs-934011.jpg);

}
button{
    background-color: dodgerblue;
   background-repeat: no-repeat;
   border: none;
   padding: 10px 5px;
   border-radius: 7px;
}
.sec img{
    display: flex;
    width: 100px;
    padding: 20px;
}

    h3{
        text-align: center;
    }
#half-width img{
    width: 250px;
    
}
.half-width{
    position: right;
   padding: 20px;
  padding-left: 90px;
}

.imgsec{
    display: flex;
    width: 80px;
    padding-top: 100px;
}
.imgdiv{
    flex-basis: 30px;
    margin-bottom: 5%;
    text-align: left;
}
.width{
    width: 90px;
    display: flex;
    padding: 35px;
    align-items: center;
}
.flex{
    display: flex;
   padding: -1px;
   align-items: center;
    
}
.text-align{
    text-decoration: none;
}
.peading{
    padding: 10px;
}
.sec-2{
    display: flex;
    padding: 40px;
    align-items: center;
    
}
.sim{
    width: 10px;
    padding: 1px;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
} 
.box{
    width: 250px;
    margin: 0 10px;
    padding: 10px;
}
.box img{
    display: block;
    width: 70px;
    border-radius: 5px;
    padding: 0;
    align-items: center;
    border: 5px;
}
.box:hover{
    transform: scale(1.3);
}
.text:focus{
    color: chartreuse;
    background-color: aqua;
}
div{
    padding: 70px;
}
div img{
    width: 150px;
}
#h img{
    width: 80px;
}
.peading{
    padding-top: -0px;
}
#h-1 img{
    width: 200px;
}
header{
    display: flex;
    text-decoration: none;
}
.sec-4{
    align-items: right;
    
}
.right{
    position: relative;
    text-align: right;
    
}
footer{
    text-align: center;
    background-color: rgb(53, 100, 228);
    color: aliceblue;
    padding: 10px;
}